In [65]:
import pandas as pd

In [66]:
df = pd.DataFrame({"match_id": ["m1", "m1", "m2", "m2"], "team_name": ["Blues", "reds", "greens", "pinks"]})
df

  match_id team_name
0       m1     Blues
1       m1      reds
2       m2    greens
3       m2     pinks

In [67]:
df[df.match_id == "m1"]

  match_id team_name
0       m1     Blues
1       m1      reds

In [68]:
def cheeky(x):
    game_pair = df[df.match_id == x.match_id]
    other_team = game_pair[game_pair.team_name != x.team_name]
    return list(other_team.team_name)[0]

In [71]:
df["C"] = df.apply(cheeky, axis=1)
df

  match_id team_name       C
0       m1     Blues    reds
1       m1      reds   Blues
2       m2    greens   pinks
3       m2     pinks  greens